.products {
  margin-top: 15rem;

  .layout {
    @include center(column, 0, 0);
    gap: 1rem;

    h2 {
      font-size: 2.2rem;
      color: $black;
      font-weight: 400;

      span {
        font-weight: 500;
        color: $accent;
      }
    }

    .not-found {
      font-size: 1.8rem;
      color: $black;
      font-weight: 400;
    }

    .product {
      @include center(0, 0, 0);
      background: $white;
      border-radius: 0.8rem;
      box-shadow: 0 0.4rem 1.6rem rgba(0, 0, 0, 0.3);
      padding: 2rem;
      position: relative;

      .product__photo {
        width: 16rem;
        min-width: 16rem;
        height: auto;
        aspect-ratio: 1/1;
        background: #f2f2f2;
        border-radius: 0.6rem;
      }

      .product__content {
        @include center(column, 0, 0);
        padding: 0 0 0 2rem;
        width: calc(100% - 16rem);
      }

      .product__row {
        @include center(0, space-between, 0);
        margin-top: auto;
      }

      .product__props {
        @include center(0, 0, 0);
        width: calc(100% - 25rem);

        & > div {
          width: calc(100% / 3);

          p {
            font-size: 1.4rem;
            color: $black;

            span {
              font-size: 1.8rem;
              font-weight: 500;
            }
          }
        }
      }

      .product__title {
        font-size: 1.8rem;
        color: $black;
        padding: 0 4.7rem 0 0;
        transition: color 0.3s;
        &:hover {
          color: $accent;
        }
      }

      .product__scraper {
        font-size: 1.4rem;
        color: $black;
        padding: 0 4.7rem 0 0;
        margin: 1rem 0 0 0;
      }

      .product__favorite {
        @include background($white, 'heart.svg', no-repeat, center, contain);
        width: 2.7rem;
        height: auto;
        aspect-ratio: 27/24;
        appearance: none;
        border: none;
        position: absolute;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
        transition: background 0.3s;

        &:hover,
        &.active {
          @include background(0, 'heart__hover.svg', 0, 0, 0);
        }
      }

      .product__price {
        p {
          font-size: 1.4rem;
          color: $black;

          &:nth-child(1) {
            margin-top: 0;
            font-size: 1.8rem;
            font-weight: 700;
            color: $accent;
          }
        }
      }
    }
  }
}
