$white: #fff;
$black: #222;

$primary: #E07A5F;
$accent: #2D6A4F;
$background: #F2E8CF;

$green: #03a200;
$green-light: #d4f7dc;

$red: #de0012;
$red-light: #f8d7da;
// $primary: #003366;
// $accent: #D4AF37;
// $background: #F0F0F0;