$padding: 3.33%;

$filter-green: brightness(0) saturate(100%) invert(38%) sepia(93%) saturate(917%) hue-rotate(83deg) brightness(94%) contrast(108%);
$filter-red: brightness(0) saturate(100%) invert(24%) sepia(94%) saturate(5964%) hue-rotate(345deg) brightness(80%) contrast(123%);